@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

:root {
   --color-1: #fafaf9;
   --color-2: #eef9fd;
   --color-3: #c6e3f4;
   --color-4: #c6e3f4;
   --container-width-lg: 75%;
   --container-width-md: 70%;  
   --container-width-sm: 80%;
   --column-left-width-lg: 10%;
   --column-right-width-lg: 90%;
   --transition: all 400ms ease;
   --font:'Gabarito', cursive;
   --container-margin: 2rem;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: var(--font);
   line-height: 1.5;
   color: black;
   font-size: 1.2rem;
}

.mainContainer {
   display: flex;
   justify-content: space-between;
   
}
.left-column {
   flex: var(--column-left-width-lg); /* 20% width for column 1 */
   background-color: var(--color-2); /* Optional background color */
   border-right: 1rem solid var(--color-3);
}

.right-column {
   flex: 80%; /* 80% width for column 2 */
   background-color: var(--color-1); /* Optional background color */
}

section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh; /* Set a minimum height for each section equal to the viewport height */
   flex: 1; /* Allow each section to grow equally to fill the available space vertically */
   flex-wrap: nowrap;
   padding-top: 5rem;
   width: 100%; /* Set the width of each section to 80% of the screen */
   margin: 0 auto; 
   overflow-x: hidden;
}

#header {
   margin: 0;
   padding: 0;
}
/* 
#about {
  padding: 0;
} */

h1 {
   font-weight: 800;
   font-size: 4rem;
   text-align: center;
   letter-spacing: 3px;
   line-height: 1;
}

h2 {
   font-size: 2rem;
   text-align: center;
   font-weight: 700;
   letter-spacing: 1px;
   /* margin: 2rem; */
}

h3 {
   font-size: 1.4rem;
   font-weight: 800;
   letter-spacing: 1px;
}

h4 {
   font-weight: 400;
   font-size: 5;
}

h5 {
   font-weight: 400;
   font-size: 4;
}

/* a {
   transition: var(--transition);
}

a:hover {
   color: var(--color-3);
} */

.btn {
   color: black;
   background-color: var(--color-1);
   font-family: var(--font);
   font-size: 1.2rem;
   font-weight: 700;
   letter-spacing: 0.05rem;
   cursor: pointer;
   transition: var(--transition);
   align-items: center;   
   margin-top: 1rem;
   justify-content: center;
   border: 3px solid var(--color-3);
   border-radius: 0.5rem;
   height: 3rem; /* Increase the button height */
   width: 11rem; 
}

.btn:hover {
   color: black;
   background-color: var(--color-3);
}

.btn:hover * {
   color: black;
   background-color: var(--color-3);
}

img {
   display: block;
   width: 100%;
   object-fit: cover;
}

hr.divider {
   border: 1px solid transparent; /* Set the line color and style */
   width: var(--container-width-lg);
}

/* Media Query for Medium Devices */
@media screen and (max-width: 1024px) {

   .container {
      width: var(--container-width-md);
   }

   .left-column {
      display: none;
   }

   .right-column {
      width: 100%;
   }

   section {
      /* margin-top: 5rem; */
      min-height: initial;
      height: fit-content;
      padding-top: 0;
   }

   h1 {
      font-size: 5rem;
      letter-spacing: 3px;
   }

   h2 {
      font-size: 2.5rem;
      font-weight: 800;
   }

   h3 {
      font-size: 2rem;
      font-weight: 700;
   }

   .btn {
      background-color: var(--color-3);
   }

   hr.divider {
      border: 1px solid #83a1d7; /* Set the line color and style */
      margin: 2rem 0; /* Add spacing above and below the line */
      width: var(--container-width-md);
   }

   #header {
      margin-top: 4rem;
   }

   #contact {
      margin-bottom: 5rem;
   }
}

/* Media Query for Small Devices */
@media screen and (max-width: 600px) {

   .container {
      width: var(--container-width-sm);
   }

   section {
        min-height: initial;
      height: fit-content;
      padding-top: 0;
   }

   h1 {
      font-size: 2.4rem;
      letter-spacing: 2px;
   }

   h2 {
      font-size: 1.4rem;
   }

   h3 {
      font-size: 1.3rem;
   }

   #header {
      margin-top: 4rem;
   }

   #contact {
      margin-bottom: 5rem;
   }
}